.container {
  height: 100vh;
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ecca3;
}

.btn {
  font-family: "Lobster", cursive;
  background-color: #4ecca200;
  color: white;
  width: 19%;
  border: 2px solid #4ecca3;
  border-radius: 20px;
  margin: 59px auto 10px;
  padding: 10px 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Lobster", cursive;
}
